.header {
  font-family: "DM Sans", sans-serif;
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
}
.header-logo {
  font-family: "Roboto", sans-serif;
}
.header-logo-text {
  font-weight: 900;
  font-size: 23px;
  line-height: 81%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.header-logo-text-travel {
  background: linear-gradient(180deg, #018495 0%, #018394 100%);
  opacity: 0.7;
  font-weight: 800;
  font-size: 23px;
  line-height: 81%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.header-nav {
  width: 375px;
}
.header-nav-list {
  display: flex;
  justify-content: space-between;
}
.header-nav-list-link {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.header-switch__span {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.header-switch__line {
  width: 2px;
  height: 13px;
  background-color: white;
  display: inline-block;
}